<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'reset','grid','jquery-ui','application'%>
  <%= javascript_include_tag :all %>
  <title>Pms3  <%= h(yield(:title) || "Untitled") %></title>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container_16 every-thing">
  <div id="fb-root"></div>
  <div class="header">
    <div class="grid_16">
     <div class="grid_8" >
         <div class="login-bar-left">Pms3</div>
     </div> 
      <div class="grid_8">
        <div id="login-bar-right">
        <ul>
          <% if !current_user.blank? %>
          <li><%= link_to "Logout",  destroy_user_session_path%></li>
              <li><%=link_to "Profile | ", edit_user_registration_path %> </li>
              
          <% else %>
              <li><%= link_to "Register ", new_user_registration_path %></li>
               <li><%= link_to "Login | ", new_user_session_path %></li>
          <% end %>
        </ul>
        </div>
      </div>
     </div> 
   <%= clearing_span %>
    <div class="main-nav">
      <ul>
        <% if current_user.blank? %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Register ", new_user_registration_path %></li>
        <% else %>
            <li><%= link_to "Home", root_url, :method => :delete %></li>
            <li><%= link_to "Project",projects_path %>
            <li><%= link_to "Tasks",task_list_path() %>
            <!--<li><%#= link_to "User",user_path(current_user) %></li>-->
        <% end %>

      </ul>
    </div>
  </div>
  <%= clearing_span %>
  <div id="wrapper">
    <div id="content" class="<%= main_content_css_class %>">
      <%= yield %>
    </div>
    <div class="<%=  sidebar_css_class %>">
      <%=yield :sidebar %>
    </div>

    <%= clearing_span %>
    <div class="push"></div>

    <%= clearing_span %>
  </div>

  <%= clearing_span %>
</div>
<%= clearing_span %>
<div  class="container_16">
  <div id="footer">
    <p class="copytight">&copy; 2010 <a href="http://raistech.com">Amar Daxini</a></p>
    <%= yield :javascripts %>

  </div>
</div>
</body>
</html>
